{% include "main.html" %}

<div class="container">
	<div style="margin-top: 20px;"class="row justify-content-center">
		<h2 class="display-2">contact.</h2>
	</div>

	<div class="row justify-content-center">
		<a class="brand" href="https://www.github.com/LucasPagliari" target="_blank">
  			<img width="220" src="{{url_for('static', filename='image/github_logo.png')}}">
  		</a>
	</div>
	<div style="margin-top: 20px" class="row justify-content-center">
		<h2  class="display-4">or</h2>
	</div>
	<div class="row justify-content-center">
		<a onclick="alert('email: lucas.alex.pagliari@gmail.com')" class="brand" style="cursor: pointer;">
  			<img width="280" src="{{url_for('static', filename='image/gmail_logo.png')}}">
  		</a>
	</div>
</div>
